@page "/trafficlightPM"
@inherits TrafficLightBasePM

<div class="row">
    <div class="lights">
        <div class="red @(Lights.RedOn ? "on" : "off")"></div>
        <div class="amber @(Lights.AmberOn ? "on" : "off")"></div>
        <div class="green @(Lights.GreenOn ? "on" : "off")"></div>
    </div>
</div>

<div class="row pt-2">
    <button @onclick="@Toggle" class="btn btn-primary">
        Toggle
    </button>
</div>