@page "/markdown"
@inherits MarkdownEditorBase

<div class="row">
    <div class="col-6">
        <h3>Markdown</h3>
        <textarea class="form-control" @bind-value="Body" @bind-value:event="oninput"></textarea>
    </div>
    <div class="col-6">
        <h3>HTML Preview</h3>
        @((MarkupString) Preview)
    </div>
</div>